body {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    font-family: sans-serif;
    background-color: #000;
}
#navopen {
    display: none;
}

#menuToggle {
    display: flex;
    flex-direction: column;
}
/*logo*/
.logo {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 160px;
    height: 40px;
}
/*contact*/
.contact {
    background-color: #000;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.contact__info a {
    color: #f93542;
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    margin: 20px;
}
.fas {
    color: #a2a2a2;
    font-size: 18px;
}
/*menu*/

#menu {
    display: flex;
    background-color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
#menu > li {
    list-style-type: none;
    width: 120px;
    margin-left: 1px;
    height: 2em;
    line-height: 2em;
}
#menu > li:first-child {
    margin-left: 0;
}
#menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    transition: color .5s;
}
#menu > li > a:hover {
    color: #f93542;
}
#menu > li > ul {
    display: none;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu > li > ul > li:first-child {
    border-top: 2px solid #f93542;
}
#menu > li > ul > li {
    background-color: #fff;
}
#menu > li > ul > li > a {
    font-size: 12px;
    color: #000;
    padding: 10px;
    text-transform: none;
    font-weight: none;
    transition: color .5s;
}
#menu > li > ul > li:hover a {
    color: #f93542;
}
#menu > li:hover > ul {
    display: block;
}
/*jumbotron*/
.jumbotron {
    height: 40vh;
    background-color: #000;
    background-image: url("http://www.predictes.com/img/splash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    
    nav {
        justify-content: space-between;
        height: 4em;
        justify-content: flex-end;
        flex-flow: wrap;
    }
    #menuToggle {
        display: none;
    }
    .backgroundShadow {
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        position: absolute;
        z-index: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .jumbotron {
        height: 90vh;
    }
    .logo {
        display: flex;
        justify-content: flex-start;
        width: 80vw;
    }
/*contact*/
    .contact {
        display: table-column;
        order: 1;
        margin-left: 10px;
        padding: 0px;
    }
    .contact__info {
        margin-top: 10px;
        line-height: 18px;
    }
    .contact__info a{
        padding: 0;
        margin: 10px;
    }
    .fas {
        font-size: 18px;
        margin-right: 15px;
    }
/*menu*/
    #menu {
        display: block;
        text-align: left;
        margin-left: 10px;
        padding: 0px;
    }
    #menu > li {
        list-style-type: none;
        width: 90%;
        height: auto;
        margin: 20px 10px;
    }
    #menu > li:first-child{
        margin-left: 10px;
    }
    #menu > li:first-child ul{
        margin-left: -20px;
    }
    #menu > li > ul {
        margin: 10px;
        padding: 10;
    }
    #menu > li > ul > li:first-child {
        border-top: none;
    }
    
/*burger menu*/    
    input {
        display: none;
    }:root {
	   --hamburgerIcon_w: 40px;
	   --hamburgerIcon_h: 6px;
        --betweenHamburgerIcon: calc((var(--hamburgerIcon_w) - 3 * var(--hamburgerIcon_h)) / 2);
	   --hamburgerIcon-cross_w: calc(var(--hamburgerIcon_w) * 1.41 - var(--hamburgerIcon_h));
    }
    .hamburgerIcon_c {
        cursor: pointer;
        margin: 12px;
        z-index: 1;
    }
    .hamburgerIcon {
        display: block;
        background: #fff;
        width: var(--hamburgerIcon_w);
        height: var(--hamburgerIcon_h);
        border-radius: calc(var(--hamburgerIcon_h) / 2);
        transition: .5s;
    }
    .hamburgerIcon + .hamburgerIcon {
        margin-top: var(--betweenHamburgerIcon);
    }
    #navopen:checked ~ .hamburgerIcon_c .hamburgerIcon:nth-of-type(2) {
        transform: scale(0);
    }
    #navopen:checked ~ .hamburgerIcon_c .hamburgerIcon:nth-of-type(1),
    #navopen:checked ~ .hamburgerIcon_c .hamburgerIcon:nth-of-type(3) {
        width: var(--hamburgerIcon-cross_w);
    }
    #navopen:checked ~ .hamburgerIcon_c .hamburgerIcon:nth-of-type(1) {
        transform-origin: left top;
        transform: translateX(calc(var(--hamburgerIcon_h) / 1.41)) rotate(45deg);
    }
    #navopen:checked ~ .hamburgerIcon_c .hamburgerIcon:nth-of-type(3) {
        transform-origin: left bottom;
        transform: translateX(calc(var(--hamburgerIcon_h) / 1.41)) rotate(-45deg);
    }
    #navopen:checked ~ .backgroundShadow {
        visibility: visible;
        opacity: .5;
    }
    #navopen:checked ~ #menuToggle {
        display: flex;
        z-index: 1;
        width: 50vw;
        height: 90vh;
        background-color: #000;
    }
    
}